
<h1>Github Search</h1>

<form action="" class="search-form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Github username" [(ngModel)]="username" name="username" (keyup)="findSearch()">
      
    
  </div>
</form>
<div *ngIf="search">
  <div class="panel panel-default">
    <br>
    <div class="jumbotron">
      {{search.name}} <small>({{search.login}})</small>
      <span *ngIf="search.company">, Works at {{search.company}}</span>
      {{search.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <img src="{{search.avatar_url}}" class="img-circle img-responsive" alt="profile image">
        </div>
        <!-- <div class="col-sm-3"> -->
          <ul class="list-group">
            <li class="list-group-item" *ngIf="search.bio">{{search.bio}}</li>
            <li class="list-group-item" *ngIf="search.email"><a href="emailto:{{search.email}}">{{search.email}}</a></li>
          </ul>
        <!-- </div> -->
        <div class="col-md-4">
          <div>
            <br>
            <p><a href="{{search.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on Github</a></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Repos</h3>
              </div>
              <div class="panel-body" *ngFor="let repo of repos">
                <p class="jumbotron">
                  
                  {{repo.name}}  <a href="{{repo.html_url}}" target="_blank" class="jumbotron" class="btn btn-sm btn-danger pull-right">Click to see on Github</a>
                  
                </p>
                <!-- <p>{{repo.description}}</p> -->

              </div>
            </div>            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

